.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  box-sizing: border-box;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  opacity: 0.7;
}

.nav-btn {
  padding: 10px 18px;
  border: none;
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
